body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
    background-color: rgb(227, 227, 227)
}

@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Arapey:ital@0;1&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.Container__cabecalho{
    padding: 150px 0px;
    background: black url(../imagens/pexels-espaco.jpg) no-repeat fixed center center;
    background-size: cover;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.419);
}

.titulo__principal{
    font-size: 2.3em;
    text-align: center;
    color: rgb(255, 255, 255);
    line-height: 45px;
    font-family: "Arapey";
}

.container__BTN{
    position: absolute;
    top: 3.5%;
    width: 280px;
    left: 50%;
    transform: translate(-50%);
}

.BTN__nav{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.1em;
    text-align: center;
    padding: 5px;
    cursor: pointer;
    margin: 1px;
}

.BTN__nav:hover{
    color: rgb(187, 187, 187);
    transition: 0.3s;
}

.conteudo{
    padding: 10px 0px;
    margin: auto;
    width: 360px;
    height: 500px;
}

.sub__titulo{
    font-size: 1.5em;
    font-weight: 600;
    padding: 10px 0px;
    color: white;
    line-height: 30px;
    font-family: 'Prompt';
}

.ano{
    font-size: 1.1em;
}

.container__texto{
    font-size: 1.1em;
    padding: 10px 0px;
    color: white;
    text-align: justify;
    line-height: 27px;
    font-family: "space mono";
}

#topo{
    font-size: 1.6em;
    cursor: pointer;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -130%);
    color: #222222;
}

.Container__Roda-Pe{
    background: url(../imagens/pexels-espaco.jpg) fixed;
    height: 30vh;
}

.inf_roda_pa{
    color: white;
    font-size: 1em;
    padding: 10vh 13px;
    text-align: center;
}


#imagens, #imagens__yuri, #imagens__lua, #imagens__estacao, #imagens__veiculo, #imagens__laboratorio, #imagens__marte, #imagens__rover, #imagens__vida{
    padding-top: 15px;
    max-width: 360px;
    max-height: 300px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

#secao__conteudo__satelite, #secao__conteudo__yuri, #secao__conteudo__lua, #secao__conteudo__estacao, #secao__conteudo__veiculo, #secao__conteudo__laboratorio, #secao__conteudo__marte, #secao__conteudo__rover, #secao__conteudo__vida{
    background-color: #222222;
    margin: 70px 0px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.637);
}

#imagens__yuri{
    max-height: 500px;
    transform: translate(-50%, 0%);
}
#imagens__lua{
    max-height: 400px;
    transform: translate(-50%, 0%);
}
#imagens__estacao{
    transform: translate(-50%, 10%);
}
#imagens__veiculo{
    transform: translate(-50%, 10%);
}
#imagens__laboratorio{
    transform: translate(-50%, 0%);
}
#imagens__marte{
    transform: translate(-50%, 1%);
}
#imagens__rover{
    transform: translate(-50%, 1%);
}
#imagens__vida{
    transform: translate(-50%, 1%);
}
#imagens__vida{
    transform: translate(-50%, 4%);
}

#secao__conteudo__satelite{
    height: 660px;
}
#secao__conteudo__yuri{
    height: 800px;
}
#secao__conteudo__lua{
    height: 960px;
}
#secao__conteudo__estacao{
    height: 850px;
}
#secao__conteudo__veiculo{
    height: 770px;
}
#secao__conteudo__laboratorio{
    height: 900px;
}
#secao__conteudo__marte{
    height: 700px;
}
#secao__conteudo__rover{
    height: 760px;
}
#secao__conteudo__vida{
    height: 680px;
}
